body{
    font-family:Arial, sans-serif;
    padding:20px;
}

form{
    margin-bottom:20px;   
}

label{
    margin-right:10px;
}

#output{
    font-weight:bold;
    margin-top:10px;
}

